<?xml version="1.0"?>
<!-- di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preferences -->
    <preference for="Tapbuy\CheckoutGraphql\Api\OrderDataFormatterInterface"
                type="Tapbuy\CheckoutGraphql\Model\OrderDataFormatter"/>

    <!-- Inject centralized Tapbuy Logger via interface (resolved via preference in redirect-tracking) -->
    <type name="Tapbuy\CheckoutGraphql\Plugin\SetPaymentMethodOnCartPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Api\LoggerInterface</argument>
        </arguments>
    </type>

    <type name="Tapbuy\CheckoutGraphql\Model\Resolver\UnlockCart">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Api\LoggerInterface</argument>
        </arguments>
    </type>

    <type name="Tapbuy\CheckoutGraphql\Model\Resolver\DeactivateCart">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Api\LoggerInterface</argument>
        </arguments>
    </type>

    <type name="Tapbuy\CheckoutGraphql\Model\Resolver\ModulesVersions">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Api\LoggerInterface</argument>
        </arguments>
    </type>

</config>
